body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
img{
    height: auto;
    width: 100%;
    display: flex;
}
div{
    background-color: antiquewhite;
    width: 70vw;
    height: 80%;
}