body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
img{
    height: auto;
    width: 90%;
    /* flex: 0 0 auto; */
  }
  div{
    overflow: hidden;
  display: flex;
justify-content: center;
align-items: center;
    background-color: antiquewhite;
    width: 70vw;
    height: 80%;
}